script: for hook in hooks/*; do bash -n "${hook}"; done
before_script:
  - 'bundle install'
language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
env:
  - PUPPET_VERSION=2.7.23
  - PUPPET_VERSION=3.0.2
  - PUPPET_VERSION=3.1.1
  - PUPPET_VERSION=3.2.4
